MainWindowUI {
    border: 5px solid black;
}

WidgetElapsedClock {
    border: 1px solid aqua;
}

/*WidgetChessBoard {*/
/*    border: 1px solid crimson;*/
/*}*/

WidgetChessCell {
    border: 48px solid black;
}

WidgetChessPiece {
    border: 1px solid red;
}

